<div>
<app-side-bar></app-side-bar>
</div>


<div><a routerLink="/create"><button type="button" class="btn btn-primary">Ajouter</button></a></div>


<div class="container" style="width: 70%; margin-right: 100px;">
  <div ><h2>Liste des demandes </h2></div>
  <div><a routerLink="/create"><button type="button" class="btn btn-primary">Ajouter</button></a></div><br>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Lieu</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Urgence</th>
        <th scope="col">Impact</th>
        <th scope="col">Actions</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let demande of demandes">
        <td>{{ demande.lieu }}</td>
        <td>{{ demande.categorie }}</td>
        <td>{{ demande.urgence }}</td>
        <td>{{ demande.impact }}</td>
        <!-- <td class="cursor-pointer">
          <em (click)="update(demandes.id)" class="fas fa-edit text-primary"></em>
          &nbsp;|&nbsp;
          <em (click)="userIdToDelete = demandes.id" class="fas fa-trash text-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></em>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
