
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">SNIM</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/dash" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/listD">
            <i class='bx bx-file' ></i>
            <span class="links_name">Demandes</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-file-blank' ></i>
            <span class="links_name">Reclamations</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Analytics</span>
          </a>
        </li>

        <li>
          <a href="#">
            <i class='bx bx-bell'></i>
            <span class="links_name">Notifications</span>
          </a>
        </li>

        <li>
          <a href="#">
            <i class='bx bx-message' ></i>
            <span class="links_name">Commentaire</span>
          </a>
        </li>

        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Parametre</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <img src="/assets/bnbn.jpg" alt="">
        <span class="admin_name">Ahmed</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>

  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

